.App {
  margin-left: 25%;
  margin-top: 50px;

  font-size: 24px;

  .quasi-table {
    margin-bottom: 25px;

    .row {
      margin-bottom: 5px;
      display: grid;
      grid-template-columns: 100px 225px 30px;
    }

    button.clear-all {
      width: 75px;
    }

    button.delete, button.clear-all {
      margin-left: 20px;
      align-items: center;
    }

    button.delete {
      font-size: 18px;
      width: 30px;
    }

    button.roll {
      height: 35px;
    }

    .modifier {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;

      .modifier-control {
        font-size: 10px;
      }
    }
  }
}
